<div class="flex flex-col flex-auto min-w-0">


    <div class=" sm:pt-40 flex flex-col items-center pb-6 px-6 sm:pb-10 sm:px-10 pt-8">
        <!-- Cards -->
        <div class="grid grid-cols-1 md:grid-cols-3 gap-y-8 md:gap-y-0 md:gap-x-6 w-full max-w-sm md:max-w-4xl -mt-16 sm:-mt-24">
            <div class="relative flex flex-col rounded-2xl shadow hover:shadow-lg overflow-hidden bg-card transition-shadow ease-in-out duration-150">
                <div class="flex flex-col flex-auto items-center p-8 text-center">
                    <div class="text-2xl font-semibold">Career Guide</div>
                    <div class="md:max-w-40 mt-1 text-secondary">If you want to know about which way to go, explore here</div>
                </div>
                <div class="flex items-center justify-center py-4 px-8 text-primary-500 dark:text-primary-400 bg-gray-50 dark:bg-transparent dark:border-t">
                    <a
                        class="flex items-center"
                        href="https://roadmap.sh/" target="_blank">
                        <span class="absolute inset-0"></span>
                        <span class="font-medium">Explore Now</span>
                        <mat-icon
                            class="ml-2 icon-size-5 text-current"
                            [svgIcon]="'heroicons_solid:arrow-narrow-right'"></mat-icon>
                    </a>
                </div>
            </div>
            <!-- Guides card -->
            <div class="relative flex flex-col rounded-2xl shadow hover:shadow-lg overflow-hidden bg-card transition-shadow ease-in-out duration-150">
                <div class="flex flex-col flex-auto items-center p-8 text-center">
                    <div class="text-2xl font-semibold">Guides</div>
                    <div class="md:max-w-40 mt-1 text-secondary">Articles and resources to guide you</div>
                </div>
                <div class="flex items-center justify-center py-4 px-8 text-primary-500 dark:text-primary-400 bg-gray-50 dark:bg-transparent dark:border-t">
                    <a
                        class="flex items-center"
                        [routerLink]="['guides']">
                        <span class="absolute inset-0"></span>
                        <span class="font-medium">Check guides</span>
                        <mat-icon
                            class="ml-2 icon-size-5 text-current"
                            [svgIcon]="'heroicons_solid:arrow-narrow-right'"></mat-icon>
                    </a>
                </div>
            </div>
            <!-- Support card -->
            <div class="relative flex flex-col rounded-2xl shadow hover:shadow-lg overflow-hidden bg-card transition-shadow ease-in-out duration-150">
                <div class="flex flex-col flex-auto items-center p-8 text-center">
                    <div class="text-2xl font-semibold">Support</div>
                    <div class="md:max-w-40 mt-1 text-secondary">Contact me for more detailed support</div>
                </div>
                <div class="flex items-center justify-center py-4 px-8 text-primary-500 dark:text-primary-400 bg-gray-50 dark:bg-transparent dark:border-t">
                    <a
                        class="flex items-center"
                        [routerLink]="['support']">
                        <span class="absolute inset-0"></span>
                        <span class="font-medium">Contact me</span>
                        <mat-icon
                            class="ml-2 icon-size-5 text-current"
                            [svgIcon]="'heroicons_solid:arrow-narrow-right'"></mat-icon>
                    </a>
                </div>
            </div>
        </div>
        <!-- FAQs -->
        <div class="mt-24 text-3xl sm:text-5xl font-extrabold leading-tight tracking-tight text-center">Most frequently asked questions</div>
        <div class="mt-2 text-xl text-center text-secondary">Here are the most frequently asked questions you may check before getting started</div>
        <mat-accordion class="max-w-4xl mt-12">
            <ng-container *ngFor="let faq of faqCategory.faqs; trackBy: trackByFn">
                <mat-expansion-panel>
                    <mat-expansion-panel-header [collapsedHeight]="'56px'">
                        <mat-panel-title>{{faq.question}}</mat-panel-title>
                    </mat-expansion-panel-header>
                    {{faq.answer}}
                </mat-expansion-panel>
            </ng-container>
        </mat-accordion>
    </div>
</div>
