<div class="flex flex-col flex-auto min-w-0">
    <!-- Main -->
    <div class="flex flex-col items-center p-6 sm:p-10">
        <div class="flex flex-col w-full max-w-4xl">
            <div class="-ml-4 sm:mt-8">
                <a mat-button [routerLink]="['../']" [color]="'primary'">
                    <mat-icon
                        [svgIcon]="'heroicons_outline:arrow-narrow-left'"
                    ></mat-icon>
                    <span class="ml-2">Back to {{ guideCategory.title }}</span>
                </a>
            </div>
            <div
                class="mt-2 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight"
            >
                {{ guideCategory.guides[0].title }}
            </div>
            <div class="mt-1 sm:text-2xl tracking-tight text-secondary">
                {{ guideCategory.guides[0].subtitle }}
            </div>

            <!-- Guide -->
            <div class="mt-8 mb-8 sm:mt-12 max-w-none prose prose-sm">
                <div [innerHTML]="guideCategory.guides[0].content"></div>
                <br />

                <iframe   width="100%"
                height="100%"
                style="min-height: 600px"
                frameBorder="0"
                [src]="guideCategory.guides[0].url | safe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            </div>
        </div>
    </div>
</div>
